{% extends 'autorental/base.html' %}

{% block title %}Detalle de los autos{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="card shadow-sm">
                    <div class="card-header">
                        Detalle del vehiculo
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ Carro.marca }}</h5>
                        {% if Carro.disponible %}
                        <h6 class="card-subtitle mb-2">Disponibilidad: Disponible</h6>
                        {% else %}
                        <h6 class="card-subtitle mb-2">Disponibilidad: No Disponible</h6>
                        {% endif %}
                        <p class="card-text">Modelo: {{ Carro.modelo }}</p>
                        <p class="card-text">Transmision: {{ Carro.transmision }}</p>
                    </div>
                </div>
                <div class="mt-4">
{% endblock %}
