{% extends 'Autorental/base.html' %}

{% block title %} Listado de Reservas {% endblock %}

{% block content %}
<section>
    <h2>Carros Disponibles para Renta</h2>
    <div class="reservas-list">
        {% for reserva in reservas %}
            <div class="discussion-item">
                <p><a href="http://google.com">Usuario: {{ carro.modelo}} - Sala: {{reserva.sala}}</a></p>
            </div>
        {% empty %}
            <p>No hay carros en la lista</p>
        {% endfor %}
    </div>
</section>
{% endblock %}