{% extends 'autorental/base.html' %}

{% block title %} Listado de Reservas {% endblock %}

{% block content %}
<section>
    <h2>Carros Disponibles para Renta</h2>
    <div class="reservas-list">
        {% for carro in Carro %}
        {% if carro.disponible %}
            <div class="discussion-item">
                <p><a href="http://google.com"> Vehiculo Disponible: {{ carro.modelo}} {{ carro.marca}} {{carro.transmision}} </a></p>
            </div>
        {% else %}
        <div class="discussion-item">
            <p><a href="http://google.com"> Vehiculo No Disponible: {{ carro.modelo}} {{ carro.marca}}</a></p>
        </div>

        {% endif %}
        {% empty %}
            <p>No hay carros en la lista</p>
        {% endfor %}
    </div>
</section>
{% endblock %}